body {
    font-family: 'Poppins', sans-serif;
    background: #f9f1ee;
    padding: 60px;
}



.product-details {
    display: flex;
    gap: 50px;
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 40px;
    border-radius: 20px;
}

.product-details img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
}

.info h1 {
    color: #b85c68;
}

.info p {
    margin: 10px 0;
}

#product-ingredients {
    list-style: none;        /* hiq bullet default */
    padding-left: 0;
    margin-top: 10px;
}

#product-ingredients li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    color: #555;
    line-height: 1.5;
    font-size: 16px;
}


.info h3{
    color: #8b3c46;
}


.price {
    font-size: 20px;
    font-weight: 600;
    color: #d58b73;
}

.description {
    line-height: 1.6;
    color: #555;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

/* FILLIMISHT e shkurtuar */
.description.collapsed {
    max-height: 80px;      /* rreth 3–4 rreshta */
    position: relative;
}

/* fade poshtë */
.description.collapsed::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, rgba(255,255,255,0), white);
}

/* BUTONI */
.see-more {
    background: none;
    border: none;
    color: #b85c68;
    font-weight: 900;
    cursor: pointer;
    /*margin-top: 2px;*/
    padding: 0;
}


/* ACTIONS */
.actions {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

/* QUANTITY */
.quantity {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
}

.quantity button {
    background: none;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
}

.quantity span {
    padding: 0 15px;
    font-weight: 600;
}


/*FAVOURITE*/
.favourite {
    background: white;
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #b85c68;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s ease;
}

.favourite:hover {
    background: #f9e3e6;
}

.favourite.active {
    background: #b85c68;
    color: white;
    border-color: #b85c68;
}

/* Container i ikonave të navigacionit */
.nav-icons {
    position: fixed; /* të qëndrojnë në ekran gjatë scroll */
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px; /* distanca mes ikonave */
    z-index: 1000; /* mbi elemente të tjerë */
}

