:root {
    --pink-main: #d97e8a;
    --pink-dark: #b85c68;
    --pink-light: #f3c6cc;
    --pink-bg: #f7e1e4;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

/* BODY */
body {
    background: linear-gradient(to right, #e2e2e2, #e7c0bc);
    padding: 20px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #8b3c46, #e3a0a9);
    color: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 25px;
}

.icons{
    position: relative;
    font-size: 1.5rem;
    cursor: pointer;
}


.cart-container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.cart-container h2 {
    color: var(--pink-dark);
    margin-bottom: 15px;
}

/* PRODUCT */
.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid var(--pink-light);
}

.cart-product:last-child {
    border-bottom: none;
}

.cart-product img {
    width: 80px;
    height: auto;
    border-radius: 10px;
    margin-right: 15px;
}

.product-info {
    flex: 1;
}

.product-info h3 {
    font-size: 16px;
    color: var(--pink-dark);
    margin-bottom: 5px;
}

.price {
    font-weight: bold;
    color: #333;
}

/* ACTIONS */
.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* QUANTITY */
.quantity {
    display: flex;
    align-items: center;
    background: var(--pink-light);
    border-radius: 20px;
    padding: 4px 8px;
}

.quantity button {
    background: transparent;
    border: none;
    font-size: 16px;
    color: var(--pink-dark);
    cursor: pointer;
    line-height: 1;
}

.quantity button:hover {
    background: var(--pink-main);
    color: #fff;
    border-radius: 50%;
}

.quantity span {
    margin: 0 5px;
    font-weight: bold;
}

/* REMOVE BUTTON */
.remove button {
    background: transparent;
    border: 1px solid var(--pink-main);
    color: var(--pink-dark);
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.remove button:hover {
    background: var(--pink-main);
    color: #fff;
}

/* CART SUMMARY */
.cart-summary {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-btn {
    background: var(--pink-main);
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
}

.checkout-btn:hover {
    background: var(--pink-dark);
}
